@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --verde: #2f7d23;
    --azul: #0000ff;
    --verdeesc: #0e550a;
}

body {
    overflow-y: scroll;
    height: 100vh;
    background-color: var(--verdeesc);
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--verde);
    height: 100vh;
    width: 20rem;
    float: left;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.360);
    padding: 10px;
    position: fixed;
}

.perfil {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

header {
    margin-bottom: 15px;
    color: white;
    font-size: 2rem;
}

.foto {
    display: flex;
}

.nome-foto {
    padding-left: 5px;
    margin-top: 32px;
    justify-content: center;
    color: white;
}

.menus {
    display: grid;
    margin-top: 50px;
    gap: 15px;
    list-style: none;
    font-size: 1.1rem;
}

.menus2 {
    display: grid;
    gap: 15px;
    margin-top: 15px;
    list-style: none;
    font-size: 1.1rem;
}

.barra-h {
    height: 30px;
    padding: 10px;
    padding-left: 335px;
    background-color: var(--azul);
    display: flex;
    font-size: 1.2rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.360);
    justify-content: space-between;
}

.foto-min,
.titulo-h,
.sme {
    margin-left: 15px;
    color: white;
}

li {
    padding: 10px;
    border-radius: 0px 8px 0 8px;
}

a {
    text-decoration: none;
    color: white;
}

.menu-items:hover {
    transform: translateY(5px);
    transition: .5s;
}

.controller {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding-left: 10px;
    display: flex;
}

.seta {
    margin-top: 10px;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.controller:hover .seta {
    transform: translate(5px);
    transition: .5s;
}

.area {
    margin-top: 50px;
    margin-left: 35%;
    background-color: white;
    width: 900px;
    min-height: 100px;
    max-height: 100%;
    padding: 20px;
    border-radius: 5px;
    border-top: 2px solid blue;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.titulo {
    margin-bottom: 20px;
}

.but {
    background-color: blue;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

table {
    margin-top: 20px;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
}

.pdf {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.passador {
    margin-top: 10px;
    text-align: center;
}

.area2 {
    margin-top: 50px;
    margin-left: 35%;
    background-color: white;
    width: 900px;
    min-height: 100px;
    max-height: 100%;
    padding: 20px;
    border-radius: 5px;
    border-top: 2px solid blue;
    display: none;
}

.modal-menus2,
.modal-menus3,
.modal-menus4,
.modal-menus5,
.modal-menus6 {
    display: none;
}

.butoes {
    margin-top: 50px;
}

textarea {
    resize: none;
}

@media (max-width: 960px) {
    .sidebar {
        width: 200px;
    }
    .area {
        margin-top: 50px;
        background-color: white;
        width: 500px;
        min-height: 100px;
        max-height: 100%;
        padding: 20px;
        border-radius: 5px;
        border-top: 2px solid blue;
    }

    .area2 {
        margin-top: 50px;
        background-color: white;
        width: 500px;
        min-height: 100px;
        max-height: 100%;
        padding: 20px;
        border-radius: 5px;
        border-top: 2px solid blue;
        display: none;
    }
    .butoes{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .barra-h{
    height: 30px;
    padding: 10px;
    padding-left: 210px;
    background-color: var(--azul);
    display: flex;
    font-size: 1.2rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.360);
    justify-content: space-between;
    }
}
th{
    padding: 5px;
}
@media (max-height:950px){
    .area2{
        max-height: 1000px;
        margin-top: 100px;
    }
}
@media (max-height:600px){
.sidebar{
    position: relative;
    height: 1690px;
}
.barra-h{
    font-size: 1.1rem;
    padding-left: 0px;
}
.passador{
    margin-top: 70px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}
}
#btn-enviar{
    margin-top: 10px;
}
.menus2 ul li{
    gap: 15px;
    list-style: none;
    transition: .5s;
}
.notas-drop{
    transition: 1s;
    display: none;
}
.menus2:hover .notas-drop{
    display: grid;
    gap: 15px;
}

